<%- include ("template"); -%>


<style>
    .contact-me{
        text-align: center;
        margin-top: 200px;
    }
</style>





<div class="contact-me">
    <h2>Get In Touch</h2>
    
    <p class="contact-message"> Lets share ideas</p>
    <a class="btn btn-outline-dark" href="mailto:dankerobby@gmail.com">CONTACT ME</a>
  </div>
</div>

<footer  class="fixed-bottom">
    ©️ 2022 web.pJ
</footer>