<%- include ("template"); -%>

<div class="  body-container row ">
    <div class="leftAside col-sm ">
        <h1>Hey <br>There! </h1>
        <h3>Welcome to my blog-post</h3>
        <a class="nav-link" href="/posts"> 
            <button type="submit" class="btn btn-small btn-outline-dark">
                View Posts
            </button>
        </a>
    </div>
    
    <div class="rightAside col-sm " >
        <img src="/images/element 0.gif" alt="" width="400" >
    </div>
</div>
<footer class="fixed-bottom" >  
    ©️ 2022 web.pJ
</footer>

