<%- include ("template"); -%>


<style>
       .div{
        padding: 100px;
    }
    p{
        text-align: justify;
        margin: 10px auto 50px;
    }
</style>

<section>
    <div class="div" >
    <h1> <%=title %> </h1>
    <p>  <%=body %>  </p>
    </div>
</section>

<footer class="fixed-bottom" >
    ©️ 2022 web.pJ
</footer>