<%- include ("template"); -%>


<style>
    body{
        background: whitesmoke;
    }
    .div{
        padding: 100px;
    }
    p{
        text-align: justify;
        margin: 10px auto 50px;
    }
    p a{
        color: blue;
    }
</style>


<section>
    <div class="div" >
        <%posts.forEach(post => {%>
            <h1><%= post.title %> </h1>
            <p>
                <%= post.body.substring(0,500) +"  ....."%>  <a href="/posts/<%=post._id %>">Read More</a> 
            </p>
        <%});%>
    </div>
</section>

<footer class="fixed-bottom">
    ©️ 2022 web.pJ
</footer>
