
<%- include ("template"); -%>     
<style>
    section{
        margin-top: 0px;
    }
    #homeCont{
        width: 100%;
        display: block;
        position: absolute;
        
    }

</style>
        <section>
            <div id="homeCont">
            <p class="homeP p1st"> 
              <%= apiQuote %>
              &#8212
            </p>

            <p class="homeP"> 
                <%= quoteAuthor %> 
            </div>
            
        </section>


        <footer class="fixed-bottom" >
            ©️ 2022 web.pJ
        </footer>
